@{
    ViewData["Title"] = "Trang chủ của shop";
    Layout = "~/Views/Shared/customer/_Layout.cshtml";
}

<!-- Carousel -->
<div id="demo" class="carousel slide pt-5" data-bs-ride="carousel" style="height: 50vh;">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  <!-- The slideshow/carousel -->
  <div class="carousel-inner h-100">
    <div class="carousel-item active h-100">
      <img src="https://noithatmanhhe.vn/media/29621/5-thiet-ke-toilet-chung.jpg" alt="Los Angeles" class="d-block w-100 h-100" style="object-fit: cover;">
    </div>
    <div class="carousel-item h-100">
      <img src="https://xayladep.com/wp-content/uploads/2015/12/phong-ve-sinh-dep-768x580.jpg" alt="Chicago" class="d-block w-100 h-100" style="object-fit: cover;">
    </div>
    <div class="carousel-item h-100">
      <img src="https://photo.znews.vn/w960/Uploaded/mdf_eioxrd/2021_07_06/4.jpg" alt="New York" class="d-block w-100 h-100" style="object-fit: cover;">
    </div>
  </div>
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5 mt-5 pt-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-primary mb-5 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck text-white"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Miễn phí vận chuyển</h5>
                        <p class="mb-0">freeship với đơn hàng trên 7 triệu</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-primary mb-5 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield text-white"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Bảo mật thanh toán</h5>
                        <p class="mb-0">Thanh toán an toàn 100%</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-primary mb-5 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw text-white"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l.69 7.48A9 9 0 0 0 9.58 23"></path></svg>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Hoàn trả trong 30 ngày</h5>
                        <p class="mb-0">Cam kết hoàn tiền trong 30 ngày</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-primary mb-5 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone text-white"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Hỗ trợ 24/7</h5>
                        <p class="mb-0">Hỗ trợ nhanh chóng mọi lúc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featurs Section End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Mua sắm</h1>
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-s">
                                <span class="text-dark" style="width: 130px;">Sản phẩm mới</span>
                            </a>
                        </li>
                        @foreach (var item in ViewBag.DanhMucs)
                        {
                                <li class="nav-item">
                                    <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-@item.CategoryId">
                                        <span class="text-dark" style="width: 130px;">@item.CategoryName</span>
                                    </a>
                                </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="tab-content">

                <!-- Các sản phẩm-->
                <div id="tab-s" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">

                                @foreach (var product in ViewBag.NewProducts)
                                {

                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item">
                                                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.ProductId">
                                                    <div class="fruite-img produc" style="width: 100%; height: 230px; overflow: hidden; position: relative;">
                                                        <img src="@Url.Content(product.img)" alt="@product.ProductName" style="width: 100%; height: 100%; object-fit: cover;">
                                                    </div>
                                                </a>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom" data-product-id="@product.ProductId">
                                                    <h5 data-bs-toggle="tooltip" data-bs-placement="bottom" title="@product.fullname">@product.ProductName</h5>
                                                    <p>@product.Description</p>
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                        <p class="text-dark fs-6 fw-bold mb-0 ">@product.Price</p>
                                                    @{
                                                        /*add to cart*/
                                                    }
                                                        <input type="hidden" class="quantity" value="1" />
                                                        <button class="add-to-cart btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i>Add to cart</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                }

                            </div>
                        </div>
                    </div>
                </div>
                @{
                    int i = 0;
                }

                @foreach (var item in ViewBag.DanhMucs)
                {
                        <div id="tab-@item.CategoryId" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">

                                    @foreach (var item01 in ViewBag.List[i].Products)
                                    {

                                                <div class="col-md-6 col-lg-4 col-xl-3">
                                                    <div class="rounded position-relative fruite-item">
                                                        <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item01.ProductId">
                                                            <div class="fruite-img" style="width: 100%; height: 230px; overflow: hidden; position: relative;">
                                                                <img src="@Url.Content(item01.img)" alt="@item01.ProductName" style="width: 100%; height: 100%; object-fit: cover;">
                                                            </div>
                                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                                <h5 data-bs-toggle="tooltip" data-bs-placement="bottom" title="@item01.fullname">@item01.ProductName</h5>
                                                                <p>@item01.Description</p>
                                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                                    <p class="text-dark fs-6 fw-bold mb-0 ">@item01.Price</p>
                                                            @{
                                                                /*add to cart*/
                                                            }
                                                                    <a asp-controller="Shop" asp-action="ProductDetial" asp-route-id="@item01.ProductId" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Chi tiết</a>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>

                                    } 
                                    @{
                                        i++;
                                    }

                                    </div>
                                </div>
                            </div>
                        </div>
                }
                @* Xem thêm sản phẩm *@
                <div class="d-flex justify-content-end mt-3">
                    <a asp-controller="Shop" asp-action="Index" class="btn btn-primary">Xem thêm sản phẩm</a>
                </div>


                <!-- Các sản phẩm-->
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

@* Sản phẩm bán chạy *@
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Sản phẩm bán chạy</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">


            @foreach (var product in ViewBag.TopProducts)
            {
                        <div class="col">
                        <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.ProductId">
                                <div class="border border-primary rounded position-relative vesitable-item h-100">
                                    <div class="vesitable-img">
                                        <img src="@Url.Content(product.ImageUrl)" class="img-fluid rounded-top" alt="" style="max-height: 200px; object-fit: cover;">
                                    </div>
                                    <div class="text-white bg-danger px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">hot</div>
                                    <div class="p-4 rounded-bottom">
                                        <h4 class="text-dark">@product.ProductName</h4>
                                        <p class="text-dark">@product.Description</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                    @{
                                        /*add to cart*/
                                    }
                                        <a asp-controller="Shop" asp-action="ProductDetial" asp-route-id="@product.ProductId" class="btn border border-secondary rounded-pill px-3 text-primary mt-2">
                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ hàng
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>





            }


        </div>
    </div>
</div>



<script>
    document.getElementById("TrangChu").classList.add("active")
</script>